extends layout

block content
  header
    .banner__container
      .banner__wrapper
        .banner__video
        .banner__caption
          .banner__headline
          .banner__description
  main
    section.module__container
      .module__wrapper
        .module__heading
          .profile__image
          .profile__bio 
            p Here is some sample content.
        .module__content
          p Here is some other stuff.
    section
    
    
