extends layout

block content
  header
    nav.nav
      .logo--nav YasGuru
    .banner__wrapper
      .banner__container
        .banner__content
          h1.banner__heading Stop asking the wrong questions about love and start asking the right ones.
          p.banner__subheading The keys to successful, lasting relationships aren't secret. Learn what works and doesn't work in a healthy, loving relationship from a successful matchmaker with over a decade of experience.
          a(href="#signup").btn.banner__button Sign Me Up
        
  main
    section
      .module.accent-color
        .module-a
          .module-a__container
            .video__container
              //- a.video__link(href="https://youtu.be/KtYGroM0rJc")
              //- i.video__icon.fa.fa-play-circle-o.fa-5x(aria-hidden="true")
              iframe.video__youtube(width='560', height='315', src='https://www.youtube.com/embed/h497t4Iy4Xo?ecver=1&showinfo=0', frameborder='0', allowfullscreen='')

            p.video__title Love Notes Ep. 2: No Means No
          .module-a__container
            div(style="padding:5px 5px;")
              h3.medium(style="color:#ffffff;") Kiss the relationship blues goodbye.
              p(style="color:#ffffff;") Finding love can seem hopeless when so many are single and those who are married struggle to avoid divorce. But are we really as hopeless and helpless as we think? The answer is "no."
              a.btn.btn--full(href="https://youtu.be/KtYGroM0rJc", target="_blank") Learn More
    section
      .module.primary-xlight
        .module-a
          .module-a__container
            h3.font-bold.medium.headline
              span.logo--inline YasGuru 
              | is an innovative program that helps you identify incompatibilities in relationships while building towards a brighter, more fulfilling future.
            a.btn.btn--large.btn--outline(style="margin-top:20px;", href="https://youtu.be/KtYGroM0rJc", target="_blank") Watch Video
    section
      .module
        .module-a
          .module-a__container.module-a__container--full
            h4.font-bold.medium.headline Love Notes Series Episodes
            p.headline Interested in seeing more content from YasGuru? Never miss an update. Subscribe below:
            .g-ytsubscribe(data-channelid='UCURpYI86UnAFDzoEAJ4FjXQ', data-layout='default', data-count='hidden')
            script(src='https://apis.google.com/js/platform.js')

          .module-a__container
            .video__container
              iframe.video__youtube(width='560', height='315', src='https://www.youtube.com/embed/KtYGroM0rJc?ecver=1&showinfo=0', frameborder='0', allowfullscreen='')

            p.video__title.video__title--alt Love Notes Ep. 1: Young & Dreamy
          .module-a__container
            .video__container
              iframe.video__youtube(width='560', height='315', src='https://www.youtube.com/embed/h497t4Iy4Xo?ecver=1&showinfo=0', frameborder='0', allowfullscreen='')

            p.video__title.video__title--alt Love Notes Ep. 2: No Means No
          //- .module-a__container.module-a__container--full
          //-   a.btn.btn--large.btn--primary(href="https://www.youtube.com/channel/UCURpYI86UnAFDzoEAJ4FjXQ", target="_blank") Visit the YasGuru Channel
    section
      .module
        .module-c
          .module-c__container(style="background-image:url('/static/images/yasguru-images/Yasmin Elhady-0057.jpg');background-size:cover;background-position:30% 35%;height:350px;")
          .module-c__container(id="signup")
            .module-c__content
              h4.medium.headline.module-c__header Uncover the key to a healthy, successful relationship.
              p.subheading.module-c__subheading YasGuru training includes interactive, live workshops addressing how best to match oneself and prepare for marriage.
              form.email__signup.module-cta__form(method="POST", action="/subscribe")
                input(placeholder="email@yasguru.com", name="email").module-cta__input
                button.btn.btn--outline.module-cta__button.module-c__button(type="submit") Submit
              .notification__success(style="visibility:initial;")
                .notification__container
                    i(class="fa fa-paper-plane-o fa-lg", aria-hidden="true")
                    .notification__message
              .notification__error 
                .notification__container
                  i(class="fa fa-exclamation-circle fa-lg", aria-hidden="true")
                  .notification__message
  footer
    .footer
      .footer__logo YasGuru
      .footer__container 
        h4.footer__header.footer__header--noMargin Contact Information
      .footer__container
        a(href="yasmin@yasguru.com").footer__contact.font-bold yasmin@yasguru.com
        .footer__separator
        a(href="tel:+15713186283").footer__contact.font-bold (571) 318-6283
      .footer__container
        p.social__header Keep up with Yasmin:
        ul.social__container
          li.social__item
            a.social__link(href="https://www.facebook.com/YasGuru1/", target="_blank")
              i.fa.fa-facebook-square.fa-2x.social__icon(aria-hidden="true")
          li.social__item 
            a.social__link(href="https://www.youtube.com/channel/UCURpYI86UnAFDzoEAJ4FjXQ", target="_blank")
              i.fa.fa-youtube.fa-2x.social__icon(aria-hidden="true")
          li.social__item 
            a.social__link(href="https://twitter.com/@yas_guru", target="_blank")
              i.fa.fa-twitter-square.fa-2x.social__icon(aria-hidden="true")
          li.social__item 
            a.social__link(href="https://instagram.com/yasguru", target="_blank")
              i.fa.fa-instagram.fa-2x.social__icon(aria-hidden="true")
    
          
            
    
    
