extends layout

block content
  header
    nav.nav
      .logo--nav YasGuru
    .banner__wrapper
      .banner__container
        .banner__content
          h1.banner__heading Are you ready?
          p.banner__subheading Ready to take the plunge and discover the secrets to lasting, successful relationships?
          a(type="submit").btn.banner__button Sign Me Up
        
  main
    section
      .module(style="background:#b0aac2;")
        .module-a
          .module-a__container 
            .video__container
              i.video__icon.fa.fa-play-circle-o.fa-5x(aria-hidden="true")
          .module-a__container
            div(style="padding:5px 5px;")
              h3.medium(style="color:#ffffff;") Are you ready?
              p(style="color:#ffffff;") Finding love can seem hopeless when so many are single and those who are married struggle to avoid divorce. But are we really as hopeless and helpless as we think?
              a.btn.btn--full(href="#") Click Here
    section
      .module
        .module-a
          .module-a__container
            h3.font-bold.medium.headline
              span.logo--inline YasGuru 
              | is an innovative training program that helps identify the root of many incompatibilities and addresses the needs of future generations.
            a.btn.btn--large.btn--outline(style="margin-top:20px;", href="#") Watch Video
    section
      .module
        .module-c
          .module-c__container(style="background-image:url('/static/images/yasguru-images/yasmin3.jpg');background-size:cover;background-position:30% 35%;height:350px;")
          .module-c__container
            .module-c__content
              h4.medium.headline.module-c__header.font-alt Sign up for our updates.
              p.subheading.module-c__subheading YasGuru training includes interactive, live workshops addressing how best to match oneself and prepare for marriage.
              form.module-cta__form
                input(placeholder="jdoe@email.com").module-cta__input
                button.btn.btn--outline.module-cta__button.module-c__button Submit
  footer
    .footer
      .footer__logo YasGuru
      .footer__container 
        h4.footer__header.footer__header--noMargin Contact Information
      .footer__container
        a(href="yasmin@yasguru.com").footer__contact.font-bold yasmin@yasguru.com
        .footer__separator
        a(href="tel:+15713186283").footer__contact.font-bold (571) 318-6283
      .footer__container
        p.social__header Keep up with Yasmin:
        ul.social__container
          li.social__link 
          li.social__link
          li.social__link 
          li.social__link
    
          
            
    
    
