// Modules and Variables
@import "./base/_normalize";
@import "./base/_reset";
@import "./helpers/_mixins";
@import "./base/_typography";
@import "./helpers/_responsive";
@import "./helpers/_variables";
@import "./components/_notifications";

.primary-color {
  background: $primary-color;
}

.primary-light {
  background: lighten($primary-color, 8%);
}

.primary-xlight {
  background: lighten($primary-color, 10%);
}

.accent-color {
  background: #b0aac2;
}

.alt-color {
  background: $alt-color;
}

.headline {
  text-align: center;
}

// Buttons

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: $alt-color;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover {
    background: lighten($alt-color, 10%);
  }
  @include m('small') {
    min-width: 75px;
    font-size: 0.85em;
  }

  @include m('large') {
    min-width: 175px;
    padding: 10px 20px;
  }

  @include m('full') {
    width: 100%;
  }

  @include m('outline') {
    border: 2px solid black;
    background: none;
    color: black;
  }
}

// Logo

.logo {
  font-family: "Fredoka One", cursive;
  @include m('nav') {
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: "Fredoka One", cursive;
    color: $alt-color;
    font-size: 3.5em;
    @media screen and (min-width: $break-small) {
      top: 30px;
      right: 30px;
      left: inherit;
    }
  }

  @include m('inline') {
    font-family: "Fredoka One", cursive !important;
    color: white;
  }
}

// nav

.nav {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

// Banner

.banner {
  @include e('wrapper') {
    position: relative;
    background-image:url('/static/images/yasguru-images/yasmin3.jpg');
    background-position: 30% 30%;
    background-size:cover;
    width: 100%;
    height: 100vh;
    padding: 20px 20px;
    @include flexbox;
    @include flex-direction(column);
    @include flex-wrap(wrap);
    @include justify-content(flex-end);
    @include align-items(flex-start);

    @media screen and (min-width: $break-small) {
      height: 500px;
      @include justify-content(center);
    }
  }

  @include e('container') {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
  }

  @include e('content') {
    padding: 20px 20px;
    max-width: 400px;
    background: rgba(0,0,0,0.60);
    @include flexbox;
    @include flex-direction(column);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
  }

  @include e('heading') {
    font-size: 1.75em;
    line-height: 1.15em;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.45);
    @media screen and (min-width: $break-medium) {
      font-size: 2em;
      text-shadow: none;
    }
  }

  @include e('subheading') {
    font-size: 1em;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 20px black;
    @media screen and (min-width: $break-medium) {
      text-shadow: none;
    }
  }

  @include e('form') {
    width: 100%;
  }

  @include e('input') {
    width: 100%;
    padding: 10px 10px;
    font-size: 0.9em;
    border: 1px solid #f1f1f1;
  }

  @include e('button') {
    width: 100%;
    padding: 10px 10px;
    background: $alt-color;
    text-align: center;
    font-size: 0.9em;
    margin: 10px 0px;
    border: 0px;
    outline: none;
    cursor: pointer;
    &:hover {
      background: lighten($alt-color, 10%);
    }
  }
}

// MODULE SECTION

.module {
  width: 100%;
  // Traditional module with 50-50 split of content
  &-a {
    background-size:cover;
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    padding: 25px 6.48%;
    max-width: 1200px;
    margin: 0 auto;

    @include e('container') {
      flex-basis: 100%;
      @include flexbox;
      @include flex-direction(column);
      @include flex-wrap(wrap);
      @include justify-content(center);
      @include align-items(center);
      padding: 10px 0px;
      @media screen and (min-width: $break-small) {
        margin: 0px 10px;
        flex-basis: 200px;
        flex-grow: 1;
        padding: 10px 10px;
      }
      @media screen and (min-width: $break-large) {
        margin: 0px 25px;
      }
      @include m('full') {
        @media screen and (min-width: $break-small) {
          flex-basis: 100% !important;
        }
      }
    }

  }

  &-b {
    background-image:url('/static/images/yasguru-images/Yasmin Elhady-0031.jpg');
    background-position: 30% 30%;
    background-size:cover;
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(flex-start);
    padding: 25px 6.48%;
    margin: 0 auto;
    height: 550px;

    @media screen and (min-width: $break-small) {
      background-position: 30% 30%;
      height: 500px;
    }

    @media screen and (min-width: $break-medium) {
      background-image:url('/static/images/yasguru-images/yasmin2.jpg');
      background-position: 70% 40%;
      @include justify-content(flex-start);
      @include align-items(center);
    }

    @include e('wrapper') {
      width: 100%;
      max-width: 1200px;
    }

    @include e('container') {
      width: 100%;
      max-width: 730px;
      padding: 15px 15px;
      background: white;
    }
  }

  &-cta {

    @include e('container') {
      width: 100%;
      max-width: 730px;
      padding: 20px 20px;
      background: white;
      margin-top: -20px;
      @media screen and (min-width: $break-medium) {
        margin-top: inherit;
        background: white;
        max-width: 350px;
      }
    }

    @include e('header') {
      width: 100%;
      text-align: center;
    }

    @include e('subheading') {
      text-align: left;
    }

    @include e('form') {
      @include flexbox;
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(center);
      @include align-items(center);
      width: 100%;
      max-width: 700px;
      margin: 15px 0px 5px 0px;
    }

    @include e('input') {
      font-size: 0.9em;
      height: 40px;
      padding: 5px 15px;
      max-width: 300px;
      width: 100%;
      flex-basis: 70%;
      flex-grow: 1;
      margin: -2px;
      border: 2px solid black;
    }

    @include e('button') {
      height: 40px;
      flex-basis: 30%;
      max-width: 200px;
      flex-grow: 1;
    }
  }
}


.module-c {
  @extend .primary-light;
  background: $primary-color;
  min-height: 200px;
  width: 100%;
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);

  @include e('container') {
    flex-basis: 100%;
    padding: 25px 6.48%;
    @include flexbox;
    @include flex-direction(column);
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
    @include align-items(center);
    @media screen and (min-width: $break-medium) {
      flex-basis: 50%;
      padding: 60px 40px;
    }
  }

  @include e('content') {
    max-width: 400px;
  }

  @include e('header') {
    width: 100%;
    text-align: left;
    line-height: 1.2em;
    color: lighten($alt-color, 10%);
  }

  @include e('subheading') {
    color: #f1f1f1;
  }

  @include e('button') {
    background: lighten($primary-color, 5%);
  }
}

.footer {
  background: white;
  min-height: 300px;
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);

  @include e('container') {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
  }

  @include e('header') {
    margin-bottom: 10px;
    font-size: 1.15em;
    color: $primary-color;
    @include m('noMargin') {
      margin-bottom: 0px;
    }
  }

  @include e('contact') {
    text-decoration: none;
    margin: 5px 10px;
    color: $alt-color;
  }

  @include e('separator') {
    width: 2px;
    height: 20px;
    background: $primary-color;
  }

  @include e('logo') {
    @extend .logo;
    color: $primary-color;
    font-size: 3em;
    margin: 15px 10px;
  }
}

.social {

  @include e('header') {
    margin: 10px 0px 0px 0px;
    color: $primary-color;
  }
  @include e('container') {
    width: 100%;
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
  }
  @include e('item') {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px 10px;
  }

  @include e('link') {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
  }

  @include e('icon') {
    color: $primary-color;
    margin: 0 auto;
  }
}

.video {

  @include e('wrapper') {
    padding: 10px 10px;
    background: #f1f1f1;
  }
  @include e('container') {
    position: relative;
    width: 100%;
    min-height: 200px;
    // background-image: url('/static/images/yasguru-images/Yasmin Elhady-0060.jpg');
    background-size: cover;
    @media screen and (min-width: $break-small) {
      min-width: 300px;
    }
    @media screen and (min-width: $break-medium) {
      min-width: 350px;
    }
  }

  @include e('youtube') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include e('link') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
  }

  @include e('title') {
    padding: 5px;
    width: 100%;
    text-align:center;
    font-weight: bold;
    background: white;
    @include m('alt') {
      background: #f1f1f1;
    }
  }

  @include e('icon') {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10%;
    margin-top: -10%;
    color: white;
  }
}
