/* -------------------------------------------
-------------------------------------------
---------- Typography Styles ---------------------------------
-------------------------------------------
*/

@import "helpers/_flexboxMixins";
@import '../helpers/variables';

// Fonts

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Fredoka One', serif;
  margin-bottom: 1.4em;
}

p, span, a {
  line-height: 1.2em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.3em;
}

p {
  font: 1em;
  line-height: 1.3em;
  font-weight: 500;
  margin-bottom: 1.2em;
}

.header-text {
  font-family: 'Merriweather', serif;
  @include m('hasNoMargin') {
    margin-bottom: 0 !important;
  }
}

// BEM Methodology

.text {
  font-weight: 300;
  margin-bottom: 1.2em;

  @include m('hasNoMargin') {
    margin-bottom: 0;
  }
}

// Font Sizes

.gigantic {
  font-size: 3em;
  margin: 0px 0px 25px 0px !important;
}

.huge {
  font-size: 2.5em;
  line-height: 1.2em;
  margin: 0px 0px 20px 0px !important;
}

.large {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0px 0px 15px 0px;
}

.medium {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 0px 0px 15px 0px;
}

.small {
  font-size: 0.85em;
  margin: 0px 0px 8.5px 0px;
}

.center {
  text-align: center;
}

.font-black {
  font-weight: 900;
}

.font-heavy {
  font-weight: 700;
}

.font-bold {
  font-weight: 600;
}

.font-light {
  font-weight: 300;
}

.font-primary {
  color: $primary-color;
}

.font-white {
  color: white;
}

.font-alt {
  color: $alt-color;
}

// Text Alignment

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

// Icons

.icon-info {
  margin-right: 10px;
  cursor: pointer;
}

.white {
  background: white;
}
